<div bsModal #createOrEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="createOrEditModal" aria-hidden="true" [config]="{backdrop: 'static'}">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form *ngIf="active" #testEntityForm="ngForm" novalidate (ngSubmit)="save()" autocomplete="off" enctype="multipart/form-data">
                <div class="modal-header">
                    <h4 class="modal-title">
                        <span *ngIf="testEntity.id">{{l("EditTestEntity")}}</span>
                        <span *ngIf="!testEntity.id">{{l("CreateNewTestEntity")}}</span>
                    </h4>
                    <button type="button" class="close" (click)="close()" aria-label="Close" [disabled]="saving">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
					<div class="form-group">
						<label for="TestEntity_Name">{{l("Name")}}</label>
						<input type="text" id="TestEntity_Name" class="form-control" [(ngModel)]="testEntity.name" name="Name"    />
                     </div>
                </div>

     
                <!-- New upload -->
                <div class="kt-portlet__body">
                            <label for="DefaultFileUploadFileInput">Default file uploader</label>
                            <p-fileUpload  mode="advanced"
                                            auto="true"
                                          id="DefaultFileUploadFileInput"
                                          name="DefaultFileUploadFileInput[]"
                                          [url]="uploadUrl"
                                          maxFileSize="1000000"
                                          (onUpload)="onUpload($event)"
                                          (onBeforeSend)="onBeforeSend($event)"
                                          [(ngModel)]="files">
                                <ng-template pTemplate="content">
                                    <ul *ngIf="uploadedFiles2.length">
                                        <!-- <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes  
                                            {{file.id}} - {{file.contentType}}                                          
                                        </li> -->
                                        <li *ngFor="let fileNew of uploadedFiles2;let i = index">
                                            <a href="{{getUrlTemp}}?fileId={{fileNew.id}}&contentType={{fileNew.contentType}}&fileName={{fileNew.name}}">
                                                {{fileNew.name}}
                                            </a>  
                                            <button type="button" class="close" (click)="onDeleteAttachmentTemp(fileNew.id)">
                                                <span aria-hidden="true">&times;</span>
                                            </button>  
                                        </li>
                                    </ul>
                                    <ul>
                                      <!-- File from upload table -->
                                      <li *ngFor="let file of testEntity.tempUpload;let i = index">
                                        <a href="{{getUrl}}?fileId={{file.id}}&contentType={{file.contentType}}&fileName={{file.name}}">
                                            {{file.name}}
                                        </a>  
                                        <button type="button" class="close" (click)="onDeleteAttachment(file.id)">
                                            <span aria-hidden="true">&times;</span>
                                        </button>  
                                    </li>
                                </ul>
                                </ng-template>
                            </p-fileUpload>
                </div>

                <!-- <div class="kt-portlet__body">
                    <label for="DefaultFileUploadFileInput">Default file uploader</label>
                    <p-fileUpload multiple="multiple"
                                  id="DefaultFileUploadFileInput"
                                  name="DefaultFileUploadFileInput[]"
                                  [url]="uploadUrl"
                                  maxFileSize="1000000"
                                  (onUpload)="onUpload($event)"
                                  (onBeforeSend)="onBeforeSend($event)"
                                  [(ngModel)]="files">
                        <ng-template pTemplate="content">
                            <!-- <ul *ngIf="testEntity.tempUploadListID.length"> -->
                                <!-- <li *ngFor="let file of uploadedFiles">{{file.name}} - {{file.size}} bytes  
                                    {{file.id}} - {{file.contentType}}                                          
                                </li> -->
                                <!-- <li *ngFor="let file of testEntity.tempUpload;let i = index">
                                    <a href="{{getUrl}}?fileId={{file.id}}&contentType={{file.contentType}}&fileName={{file.name}}">
                                        {{file.name}}
                                    </a>  
                                    <button type="button" class="close" (click)="onDeleteAttachment(file.id)">
                                        <span aria-hidden="true">&times;</span>
                                    </button>  
                                </li>
                                
                            <!-- </ul> -->
                            
                        <!-- </ng-template>
                    </p-fileUpload>
                </div> -->

               

                <div class="modal-footer">
                    <button [disabled]="saving" type="button" class="btn btn-default" (click)="close()">{{l("Cancel")}}</button>
                    <button type="submit" class="btn btn-primary blue" [disabled]="!testEntityForm.form.valid" [buttonBusy]="saving" [busyText]="l('SavingWithThreeDot')"><i class="fa fa-save"></i> <span>{{l("Save")}}</span></button>
                </div>
            </form>
        </div>
    </div>

</div>